<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info">
    <Appenders>
        <File name="File" fileName="logs/application.log" immediateFlush="true">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
        </File>
    </Appenders>
    <Loggers>
    <Logger name="com.antazri.main.mastermind" level="all" additivity="false">
    			<AppenderRef ref="File"/>
    		</Logger>
    		<Logger name="com.antazri.main.code" level="all" additivity="false">
    			<AppenderRef ref="File"/>
    		</Logger>
        <Root level="ALL">
            <AppenderRef ref="File"/>
        </Root>
    </Loggers>
</Configuration>